# https://github.com/colmap/colmap/pull/2625
# commit hash: 2633d1c4c3d4ae0f17a462faa3e334d9345a9c2b
--find-links https://cvg-data.inf.ethz.ch/lamaria/packages/pycolmap/

projectaria-tools[all]
omegaconf
evo==1.31.1
bagpy==0.5
cv-bridge
scipy
ruff==0.12.7
pyceres==2.6
pycolmap==3.13.0.dev0 ; python_version >= "3.9" and python_version < "3.15"

-e git+https://github.com/cvg/Hierarchical-Localization.git@1252817#egg=hloc
